/* front.css
-----------------------------------*/

.post-thumbnail_top{
  @include respond(pc) {
    float: left;
    margin-left: 0px;
    width: 240px;
  }
}
.post-title_top {
  @include respond(pc) {
    float: left;
    margin-left: 30px;
    width: 300px;
  }
}
.post-content .post-title_top{
  @include respond(pc) {
    clear: none;
    width: 470px;
    margin-top: 0px;
    margin-left: 30px;
    border-bottom: none;

  }
}

.post-content .post-title_top{
  @include respond(pc) {
    clear: none;
    width: 470px;
    margin-top: 0px;
    margin-left: 30px;
    border-bottom: none;

  }
}

.post-content .post-title_top h2{
  @include respond(pc) {
    border-bottom: 0px;
  }
}

.post-content .post-title_top h2:first-child{
  @include respond(pc) {
    margin: 0px;
  }
}
